/* Define CSS variables */
:root {
  --primary-color: #0066cc; /* blue */
  --secondary-color: #ff6600; /* orange */
  --text-color: #333333; /* dark text */
  --background-color: #f4f4f4; /* light background */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

/* General Styles */
body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Header with CSS Grid */
header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--primary-color);
  padding: 20px;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo {
  width: 150px;
  margin-right: 10px;
}

header h1 {
  font-family: var(--font-secondary);
  color: white;
}

header nav {
  justify-self: end;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  font-family: var(--font-secondary);
  font-weight: 600;
}

/* Hero Section */
.hero {
  /* position: relative; */
  display: flex;
  gap: 30px;
  align-items: center;
  height: 400px;
  background: url("images/rafting-hero.jpg") no-repeat center center/cover,
    linear-gradient(rgb(70, 125, 228), white);
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.hero h1 {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: var(--font-secondary);
}

.hero-image {
  border-radius: 10px;
  mix-blend-mode: luminosity;
}

/* Article */
article {
  display: flex;
  margin-top: 20px;
}

article img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

article p {
  flex: 1;
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Sections */
section {
  margin-top: 40px;
}

section h2 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  color: var(--primary-color);
}

section p {
  font-size: 1rem;
  color: var(--text-color);
}

section img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

/* Adventures Section */
.adventure-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.adventure-images figure {
  text-align: center;
}

.adventure-images img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.adventure-images figcaption {
  margin-top: 10px;
  font-size: 1rem;
  font-family: var(--font-secondary);
  color: var(--primary-color);
}

/* Footer */
footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  color: white;
}

footer p {
  font-size: 1rem;
}

footer a {
  margin: 0 10px;
}

footer img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
